body {
	background-attachment: fixed;
	background-image: url(background.jpg);
	color: #d8d8d8;
	
	font-size: 20px;
}

.imgCover {
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
-webkit-background-size: cover;
   -moz-background-size: cover;
		background-size: cover;
}

h2 {
	font-size: 45px;
	font-weight: 500;
	margin-top: 50px;
}
h3 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 0;
}
a {
	color: #24ff0c;
}
a:hover {
	color: #26d412;
}
ol {
	padding: 0;
}

#mainContainer {
	position: relative;
	width: 1200px;
	margin: 30px auto;
	padding: 20px;
	background-color: #276cbf;
	border: 3px solid black;
	border-radius: 20px;
	box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1215px) {
	#mainContainer {
		width: unset;
		border-left: unset;
		border-right: unset;
		border-radius: unset;
	}
}

.flexRow {
	overflow-x: auto;
	border-left: 2px solid #d8d8d880;
	border-right: 2px solid #d8d8d880;
}
#imgSelectContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#imgSelectContainer img {
	height: 100px;
	cursor: pointer;
	border-radius: 10px;
	padding: 4px;
	margin: 0 10px 10px 0;
	box-sizing: content-box;
}
#imgSelectContainer img:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
#imgSelectContainer img:active {
	background-color: rgba(0, 0, 0, 0.4);
}
#buttonContainer {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	display: none;
}
#buttonContainer button {
	margin-left: 10px;
}

#contentsTitle {
	text-align: center;
	border-bottom: 1px solid transparent;
}
#contentsShow:hover {
	cursor: pointer;
}

#contentsContainer {
	background: #00000026;
	border: 1px solid darkgray;
	border-radius: 15px;
	padding: 5px 15px;

	display: none;
}
#contents {
	margin: 0;
	list-style-type: none;
	counter-reset: section;
}
#contents ol {
	list-style-type: none;
	counter-reset: section;
}
#contents li::before {
	counter-increment: section;
	content: counters(section, ".") " ";

	color: #cac5c5;
	margin-right: 3px;
}
#contentsWrapper {
	height: 0;
	overflow: hidden;
	-webkit-transition: height .3s;
	   -moz-transition: height .3s;
			transition: height .3s;
}

.contentsMargin {
	margin-left: 30px;
}


#timetrials {
	width: 100%;
}

.borderBottom {
	border-bottom: 3px solid #d8d8d8;
	margin-top: 40px;
}
.gameImg {
	max-height: 100px;
	margin-right: 15px;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.flexRow {
	display: flex;
	margin-bottom: 23px;
}
.flexColumn span {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	padding: 0 5px;
}
.flexColumn span:nth-child(2n + 1) {
	background-color: rgba(0, 0, 0, 0.2);
}
.flexColumn span:nth-child(1) {
	color: #2ee403;
	border-bottom: 2px solid #2ee403;
	background-color: unset;
	font-weight: 650;
	font-size: 24px;
}


.presets {
	margin-top: 30px;
}
.presetTitle {
	font-size: 25px;
	text-decoration: underline;
}
.presetLabel {
	margin: 0;
}
.presetWTitle {
	margin-left: 30px;
}
.presetButton {
	margin-top: 7px;
}

#settingsWrapper {
	position: fixed;
	visibility: hidden;
	opacity: 0;

	-webkit-transition: visibility .3s, opacity .3s;
	   -moz-transition: visibility .3s, opacity .3s;
			transition: visibility .3s, opacity .3s;

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#settingsContent {
	position: absolute;

	max-height: 90%;
	min-height: 200px;

	max-width: 90%;
	min-width: 500px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: #1794ffe8;
	padding: 20px;
	border-radius: 20px;
}


#closeButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}